<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Craigslist Listings -->
    <div class="row" id="Full size Mars Info">
      <div class="col-md-12">
        <h2 class="heading">Latest Mars News</h2>
        <h3 class="heading">{{mars_info.News_Title}}</h3>
        <p>{{mars_info.News}},</p>
     </div>
   </div>
     <div class="row" id="smaller info">
     <div class="col-sm-8">
        <h3>Featured Mars Image</h3>
        <img style="width:100%" src="{{mars_info.Featured_Mars_Image}}">
    </div>
    <div class="col-sm-4">
        <p style="border-style:solid;border:1; padding:5px">
        <strong>Current Weather on Mars</strong><br>
        {{mars_info.Mars_Weather}}</p>
        <h4>Mars Facts</h4>
        {{mars_info.Mars_Table | safe}}
    </div>
      </div>
      <div class="row" id="hemisphere_info">
      <h3 style="text-align:center">Mars Hemispheres</h3>
      <hr>
      <div class="col-sm-6">
      <img style="width:100%" src="{{mars_info.Hemisphere_Info.0.Img_URL}}">
      <p><h4 style="text-align:center">{{mars_info.Hemisphere_Info.0.Title}}</h4></p>
      </div>
      <div class="col-sm-6">
      <img style="width:100%" src="{{mars_info.Hemisphere_Info.1.Img_URL}}">
      <p><h4 style="text-align:center">{{mars_info.Hemisphere_Info.1.Title}}</h4></p>
      </div>
      <div class="col-sm-6">
      <img style="width:100%" src="{{mars_info.Hemisphere_Info.2.Img_URL}}">
      <p><h4 style="text-align:center">{{mars_info.Hemisphere_Info.2.Title}}</h4></p>
      </div>
      <div class="col-sm-6">
      <img style="width:100%" src="{{mars_info.Hemisphere_Info.3.Img_URL}}">
      <p><h4 style="text-align:center">{{mars_info.Hemisphere_Info.3.Title}}</h4></p>
      </div>
    </div>

  </div>
</body>

</html>